<div class="header">
  <div class="logo"><span>RouteMasetro</span></div>
  <div class="nav">
      <div class="item">
          <span>Home</span>
      </div>
      <div class="item">
          <span>About Us</span>
      </div>
      <div class="item">
          <span>Pricing</span>
      </div>
      <div class="item">
          <span>Contact Us</span>
      </div>
      <div class="item" style="display: flex; align-items: center;">
          <i style="color: white;" class="fa-solid fa-right-from-bracket"></i>
          <span>Logout</span>
      </div>
  </div>
</div>