<main style="background-color: #fff; display: flex;width: 100vw;box-sizing: border-box;" >

    <!-- <app-sidebar></app-sidebar> -->
    <app-admin-sidebar [isToggle]="isToggle" ></app-admin-sidebar>
    
    <div class="main-content" style=" width: 85%;flex-grow: 1; display: flex; flex-direction: column; background: #f8f9fe;">
      <!-- Top navbar -->
      <app-navbar></app-navbar>
      <!-- Pages -->
      <router-outlet [isToggle]="isToggle"></router-outlet>
      <!-- <div class="container-fluid"> -->
       
      <!-- </div> -->
    </div>
    
    </main>